# Python関連
__pycache__/
*.pyc
*.pyo
*.log

# Django関連
db.sqlite3  # SQLiteのデータベース（Gitに入れない）
media/      # ユーザーがアップロードした画像など（Gitで管理しない）
static/     # collectstatic で生成された静的ファイル（自動生成される）

# 環境設定
.env        # 環境変数ファイル（SECRET_KEY などを含める）
venv/       # 仮想環境（Gitに入れない）

# エディタの設定ファイル
.vscode/
.idea/