<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ product.name }}</title>
</head>
<body>
    <h1>{{ product.name }}</h1>
    {% if product.image %}
       <img src="{{ product.image.url }}" alt="{{ product.name }}" width="400">
    {% endif %}
    <p>価格: ¥{{ product.price }}</p>
    <p>在庫: {{ product.stock }}個</p>
    <p>{{ product.information }}</p>

    <form action="{% url 'add_to_cart' product.id %}" method="post">
        {% csrf_token %}
        <button type="submit">カートに追加</button>
    </form>
    <a href="{% url 'product_list' %}">⬅️ 商品一覧へ戻る</a>
</body>
</html>